body {
    background: hsla(208, 7%, 55%, 1);

    background: linear-gradient(90deg, hsla(208, 7%, 55%, 1) 0%, hsla(191, 5%, 40%, 1) 100%);
}

a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(102, 106, 109);
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 20px 30px 20px 50px;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex: 1;
}
.nav-text {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap: 30px;
    font-size: 24px;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: 37%;
    cursor: pointer;
}