body {
    background: white;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(180, 180, 180, 0.684) ;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 20px 30px 20px 50px;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex: 1;
    margin-top: 30px;
}
.nav-text {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap: 30px;
    font-size: 24px;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: 37%;
    cursor: pointer;
}
.main-title{
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    margin-top: 175px;
    font-weight: 700;
    font-size: 50px;
}
.sub-title{
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    font-weight: 500;
}
.info{
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    margin-top: 50px;
    font-weight: 300;
    font-size: 20px;
}
.leren{
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    margin-top: 125px;
    font-weight: 700;
    font-size: 50px;
}