body{
    background: hsla(208, 7%, 55%, 1);

    background: linear-gradient(90deg, hsla(208, 7%, 55%, 1) 0%, hsla(191, 5%, 40%, 1) 100%);
}

a{
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}
a:hover{
    color: white;
    transition: 0.4s;
}
.white-color{
    color: white;
}